.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

/* Landing Page */

.landingImg {
  width: 100%;
  opacity: .6;
}

.landingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  max-width: 100%;
  max-height: 100vh;
  overflow: hidden;
}

.buttons-landing {
  display: flex;
  justify-content: center;
}
.landing-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.this {
  text-decoration: none;
    color: black;
    font-family: cheap-pine, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    border: 4px solid black;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
    margin: 25px;
    transition: .6s;
    background-color: #D3D3D3;
  }


  .this:hover {
    cursor: pointer;
  }
  .cover:before {
    content: 'YEAH!';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #c52026;
    color: white;
    height: 100%;
    width: 100%;
    transform-origin: bottom right;
    transform: translateY(-100%);
    transition: all .6s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cover:hover:before {
    transform: rotate(0deg);
  }


  .slide:hover {
    color: white;
    transition: all .6s;
    background-color: #c52026;
  }

.logo-title {
  font-family: cheap-pine, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.signupButton {
  margin: 0 5px;
  background-color:  rgb(57, 193, 235);
  color: white;
  width: 100px;
}

.Logo-landing {
  display: flex;
  flex-direction: column;
  align-items: center;
}
 
.innertext {
  border-radius: 10px;
  position: absolute;
  width: 498px;
  border-radius: 10px;
  top: 21%;
  left: 60%;
  color:white;
  transition: .4s;
}
.landing-logo {
  width: 10em;
  transition: .4s;
}

/* nav */

.nav-title {
  font-family: cheap-pine, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
}

.nav-bar .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dee6eb;
}

.nav-bar {
  background-color: #dee6eb;
  border-bottom: 1px solid black;
  box-shadow:  10px 3px 3px gray;
  overflow: hidden;
}

.nav-links, .logo-nav-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}


.nav-links li, .logo-nav-link li {
  margin: 10px;
  list-style-type: none;
}

.nav-links li a, .logo-nav-link li {
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

.main {
  display: flex;

}

/* SideBar CSS */

.side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 25%;
  padding-top: 50px;
  background-color: #d3dbc6;
  min-height: 100vh;
  border: 1px solid black;
  border-top: none;
  border-left: none;
}

.side-bar-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-bar img {
  width: 80%;
  border-radius: 100%;
  margin: 0 auto;
}









.main-stage {
  flex-basis: 75%;
  padding: 5% 8%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.small-profiles {
  width: 220px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
}

.small-profiles img {
  width: 80%;
  border: 1px solid black;
}

.small-profiles a {
  width: 100%;

}

.small-profiles div {
  border: 1px solid black;
  width: 80%;
  border-top: none;
}

.small-profiles h2 {
  font-size: 13px;
  text-align: center;
}

.small-profiles small {
  font-size: 9px;
}

.small-profiles p {
  font-size: 11px;
  text-align: center;
}

.single-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.single-profile  img{
  width: 80%;
}

/* Register Component */
.register-container, .login-container {
  border: solid 1px black;
  border-radius: 10px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 450px;
  box-shadow: 12px 12px 2px 1px rgba(197, 32, 38, .4);
}

.register-logo {
  width: 7.5em;
}

.register-top h1, .login-top h1 {
  display: flex;
  justify-content: center;
  font-family: cheap-pine, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

.register-top, .login-top {
  margin: 0 auto 15px;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.register-form-inputs, .login-form-inputs {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 80%
}

.register-button {
  margin: 25px auto;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #c52026;
  font-family: cheap-pine, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  border: 3px solid #c52026;
  padding: 10px 20px;
  position: relative;
  font-weight: 400;
  overflow: hidden;
  text-transform: uppercase;
  transition: all .5s;
  overflow: hidden;
  background-color:white;
  transition: 1s;
  position: relative;
}

.register-button:hover {
  letter-spacing: 4px;
  font-weight: 100;
  cursor: pointer;
  color: white;
  background-color: #c52026;

}

.register-button:before  {
  content: '';
  background-color: white;
  top: 40px;
  left: 0;
  width: 100%;
  height: 10px;
  position: absolute;
  transform: 
    translateX(-100%) 
    rotate(45deg);
  transition: all 0.8s;
}

.register-button:hover:before {
  transform: 
    translateX(100%) rotate(45deg);
}


.login-button {
  margin: 25px auto;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #c52026;
  font-family: cheap-pine, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  border: 3px solid #c52026;
  padding: 10px 20px;
  position: relative;
  font-weight: 400;
  overflow: hidden;
  text-transform: uppercase;
  transition: all .5s;
  overflow: hidden;
  background-color:white;
  transition: 1s;
  position: relative;
}

.login-button:hover {
  letter-spacing: 4px;
  font-weight: 100;
  cursor: pointer;
  color: white;
  background-color: #c52026;

}

.login-button:before  {
  content: '';
  background-color: white;
  top: 40px;
  left: 0;
  width: 100%;
  height: 10px;
  position: absolute;
  transform: 
    translateX(-100%) 
    rotate(45deg);
  transition: all 0.8s;
}

.login-button:hover:before {
  transform: 
    translateX(100%) rotate(45deg);
}

/* input fields CSS */
textarea {
  font-family:times, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

.input-styles {
  margin: 6px 0;
  padding: 5px;
  font-family:times, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

@media (max-width:1268px) {
  .innertext {
    left: 50%;
    transition: .4s;
  }
} 
@media (max-width:998px) {
  /* Landing Page responsivness */
  .innertext {
    position: absolute;
    top: 17%;
    left: 0%;
    display: flex;
    justify-content: space-around;
    width: 100%;
    transition: .4s;
  }
  .landing-text {
    margin: 0 auto;
    justify-content: center;
    width: 200px;
  }
  .this {
      font-size: 25px;
      padding: 5px 10px;
      margin: 5px auto;
    }
    .landing-logo {
      width: 10em;
      margin-top: 25%;
    }
} 

@media (max-width:740px) {
  /* Landing Page responsivness */
  .innertext {
    top: 13%;
    left: 0%;
    transition: .4s;
  }
  .landing-text {
    margin: 0 auto;
    justify-content: center;
    width: 200px;
  }

    .landing-logo {
      width: 5em;
      margin-top: 40%;
    }
} 